html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
  font-family: system-ui, sans-serif;
}
body {
  touch-action: none;
  position: relative;
}
#canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.version{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px;
  display:flex;
  justify-content:center;
  pointer-events:none;
  color: rgba(255,255,255,0.85);
  font-size: 14px;
}
.notif {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  color: rgba(255,255,255,0.85);
  font-size: 14px;
}
